<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alive by Google</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6">     
                    <h1 class="display-3">Alive by Google</h1>
                    <p class="lead">Alive by Google is a website to appreciate all the wonderful work, applications, services, etc we only have because of Google</p>
                    <hr class="my-2">
                    <p>Once you actually stand still. Think about things. Think about the things that you use, have used or will use. In the IT but even outside this "niche" - Google has been a fundament for a lot of things. Not just the plain obvious stuff, such as Google Search. There is so much more to discover. </p>
                    <p>This website is actual free (no ads nor tracking), contains no javascript and is open-source. Everyone is allowed to contribute.</p>          
					
					<h2>Contributing</h2>
					<p>Feel free to drop by <a href="https://github.com/wiardvanrij/Alive-By-Google">GitHub</a> and create a Pull Request.
					This way you are able to add entries and be involved in the development of this website.
					</p>
				</div>
                <div class="col-sm-6">
                    <h2 class="display">Created because...</h2>
                    <p class="lead">It's easier to point out failures or mistakes rather than appricate the things we actually have.</p>
                    <p>This website is made as counter for "killedbygoogle". A fair website/list, yet focusses on <b>only</b> the negative part. As someone as myself, I have used so many Google products. I honestly believe they deserve better than a graveyard.</p>   
                    <h2>The goal</h2>
                    <p>Eventually the goal is to inform and provide an equal sound of the positive side. Not to bash, hate or attack "killedbygoogle". Everyone should have the right to express their thoughts, opinion, whatnot. </p>
                    <p><i>This also means it's okay to use Google Analytics on your "KilledbyGoogle" website. hehe.</i></p>
					<h2>Created by</h2>
					Wiard van Rij - I'm a {buzzword} Engineer. You can get in touch via <a href="https://twitter.com/RijWiard">Twitter</a>
				</div>
			</div>
		</div>